.form-input {
    background-color: #f9f9f9;
    height: 75px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  input[type="search"] {
    padding: 0 16px;
    margin-left: 35px;
    height: 50%;
    width: 25%;
    border: none;
    background-color: #ccc;
    border-radius: 36px 0 0 36px;
    outline: none;
  }
  
  .search-btn {
    width: 36px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3c91e6;
    color: #f9f9f9;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
  }
  