.body-home {
    min-height: 100vh;
    background-color: aliceblue;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 210px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: all 0.3s ease;
    z-index: 100;
    border: 1px solid #000;
  }

.icons{
    color: #000;
}
  
  img.logo-sidebar {
    width: 10vh;
  }
  
  /* .sidebar.close {
    width: 35px;
  } */
  
  .logo-text {
    margin-top: 5px;
  }
  
  .image-text {
    display: flex;
    margin-top: 50px;
    align-items: center;
  }
  
  .h2-home {
    font-size: 15px;
  }
  
  .sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .sidebar.image {
    min-width: 45px;
    border-radius: 6px;
  }
  
  .image-text {
    display: flex;
    align-items: center;
  }
  
  .logo-text {
    display: flex;
    flex-direction: column;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image img {
    width: 9vh;
    border-radius: 6px;
  }
  
  .menu {
    margin-top: 50px;
  }
  
  .sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
  }
  
  .nav-text {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #000;
  }
  
  .sidebar li a:hover {
    background-color: aqua;
  }
  
  .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu-bar::-webkit-scrollbar {
    display: none;
  }
  