.containerPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.profile-user{
    background: #ffffff;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.edit-profile {
    position: relative;
    top: 0;
}

.edit-profile img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 30px;
}

.profile-info {
    text-align: center;
    display: contents;
}

.profile-info h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
}

.profile-info p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.profile-text {
    margin-bottom: 10px;
    font-size: bold;
}

.profile-user {
    margin-bottom: 25px;
    border-radius: 14px;
    width: 300px;
    height: 30px;
    border: 2px solid;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.3);
}

.buttonPerfil {
    padding: 8px 16px;
    margin-right: 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.edit-button {
    background-color: #3498db;
    color: #ffffff;
}

.buttonPerfil:hover {
    background-color: #2c3e50;
    transform: scale(1.05); 
}

.save-button {
    background-color: #3498db;
    color: #ffffff;
}

.buttonPerfil:active {
    transform: translateY(2px);
}

@media (max-width: 480px) and (max-height: 1080px){
    .containerPerfil{
        margin-left: 4rem;
    }

    .profile-user{
        width: 17rem;
    }
}