.bodyItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-cadastro-item {
    background-color: aliceblue;
}

.formItem {
    width: 800px;
    height: 680px;
    padding: 1cm;
    display: grid;
    background-color: #fff;
    margin-left: 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #a3a3a3;
    font-family: Arial, sans-serif;
}

.titulo {
    font-family: sans-serif;
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.grupoItens {
    margin-bottom: 15px;
    justify-content: space-between;
}

.textItem {
    color: #000;
    margin-bottom: 5px;
}

.input-cadastro {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #000;
    margin-bottom: 5px;
    text-align: start;
    background: linear-gradient(to right, #D9D9D9, #F0F0F0);
    box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.3);
}

.input-upload {
    align-self: center;
}

.itemDetails {
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #D9D9D9, #F0F0F0);
    box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.3);
}

.btn-acao {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-submit {
    width: 250px;
    height: 40px;
    margin-right: 10px;
    background: #6ba0e8;
    color: #FFF;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.3);
}

.btn-reset {
    width: 250px;
    height: 40px;
    margin-left: 10px;
    background: #6ba0e8;
    color: #FFF;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.3);
}

.container button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 10px;
    background: transparent;
}

.input-text {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 15px;
}

.input-file-upload {
    display: flex;
    flex-direction: column;
    height: 4vh;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid;
    width: 16rem;
    margin-left: 5rem;
    border-radius: 10px;
    background: linear-gradient(to right, #D9D9D9, #F0F0F0);
    box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.3);
}

.upload-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    font-size: 15px;
    color: #000;
    margin-right: 70px;
}

.upload-button input[type=file] {
    font-size: 20px;
    position: absolute;
    margin-top: 5px;
    left: 0;
    top: 0;
    opacity: 0;
    margin-left: -65%;
    cursor: pointer;
}

.upload_img {
    width: 250px;
    height: 250px;
    margin-right: 40px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 505;
    vertical-align: middle;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.campoItem {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textItem {
    color: #000;
}

.modalBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modalContent {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    text-align: -webkit-center;
    align-self: start;
    margin-top: 5rem;
    animation: fadeIn 1s ease;
    z-index: 2;
}

.modalContent p {
    margin-bottom: 20px;
}

.modalContent button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modalContent button:hover {
    background-color: #2a7aaf;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.errorIcon {
    border: 4px solid;
    border-radius: 50%;
    width: 3rem;
    color: red;
    margin-bottom: 20px;
}

.successIcon {
    border: 4px solid;
    border-radius: 50%;
    width: 3rem;
    color: green;
    margin-bottom: 20px;
}

@media (max-width: 767px) and (max-height: 1080px) {
    .formItem{
        width: 35rem;
        height: 50rem;
    }

    .input-cadastro{
        width: 30rem;
    }

    .itemDetails{
        width: 30rem;
    }

    .btn-submit{
        width: 12rem;
    }

    .btn-reset{
        width: 12rem;
    }

    .input-upload{
        display: flex;
        justify-content: center;
    }

    .input-file-upload{
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 645px) and (max-height: 1080px) {
    .formItem{
        width: 400px;
        height: 50rem;
    }

    .titulo{
        margin-bottom: 10px;
    }

    .input-cadastro{
        width: 20rem;
    }

    .itemDetails{
        width: 20rem;
    }

    .btn-submit{
        width: 150px;
    }

    .btn-reset{
        width: 150px;
    }

    .input-file-upload{
        margin: 0;
    }

    .input-upload{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .modalContent{
        width: 23rem;
        padding: 20px;
        margin-left: 4rem;
    }
}

@media (max-width: 445px) and (max-height: 905px){
    .modalContent{
        padding: 20px;  
        margin-left: 4rem;
        width: 22rem;
    }

    .formItem{
        width: 345px;
        height: 50rem;
        display: flow;
     }

     .input-cadastro{
        width: 18rem;
     }

     .itemDetails{
        width: 18rem;
     }
}

@media (max-width: 414px) and (max-height: 896px){
    .formItem{
        display: flow-root;
        width: 20rem;
    }

    .input-cadastro{    
        width: 18rem;
        margin-left: 5px;
    }

    .textItem{
        margin-left: 5px;
    }

    .itemDetails{
        margin-left: 5px;
        width: 18rem;
    }

    .modalContent{
        padding: 15px;
        margin-left: 3rem;
        width: 19rem;
    }
}

@media (max-width: 412px) and (max-height: 915px) {
    .formItem{
        height: 50rem;
        width: 300px;
        display: flow;
    }

    .bodyItem{
        align-items: flex-start;
    }

    .input-cadastro{
        width: 15rem;
    }

    .itemDetails{
        width: 15rem;
    }

    .titulo{
        display: flow;
        margin-bottom: 1rem;
    }

    .input-upload{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 1rem;
    }

    .input-file-upload{
        width: 13rem;
        margin: 0;
    }

    .btn-upload{
        font-size: 10px;
    }

    .btn-acao{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-submit{
        width: 7rem;
    }

    .btn-reset{
        width: 7rem;
    }
}